.cinematic {
  padding-top: 230px;
  padding-bottom: 188px;
  .headline {
    color: #66182a;
    margin-bottom: 200px;
    h3 {
      font-size: 104px;
      line-height: 1.1;
      font-weight: 600;
      strong {
        color: #ffb34e;
      }
    }
  }
  .subheadline {
    margin-top: 92px;
    margin-left: 33.3333%;
    max-width: 66.6667%;
    .subtitle {
      font-size: 36px;
      line-height: 1.1;
      font-weight: 600;
      letter-spacing: 0em;
    }
    .info {
      margin-top: 30px;
      color: #6e6e73;
      font-size: 16px;
      line-height: 1.2105263158;
      font-weight: 600;
      letter-spacing: 0.012em;
    }
  }
  .frame {
    .frame-view {
      background: url('./screen_large.png');
    }
    .inline-video {
      position: relative;
      width: 100%;
      button {
        position: absolute;
        z-index: 2;
        right: 10px;
        bottom: 10px;
        color: #fff;
        font-size: 12px;
        cursor: pointer;
        height: 26px;
        padding: 0 10px;
        line-height: 26px;
        border-radius: 13px;
        background-color: rgba(255, 255, 255, 0.3);
        border: 1px solid rgba(255, 255, 255, 0.5);
        &:hover {
          opacity: 0.9;
        }
      }
      .video {
        width: 100%;
        height: 550px;
        object-fit: cover;
        display: block;
      }
    }
    .frame-bottom {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      .title {
        width: 35%;
        color: #ffb34e;
        font-size: 24px;
        line-height: 1.1428571429;
        font-weight: 600;
      }
      .intros {
        width: 50%;
        color: #6e6e73;
        font-size: 16px;
        line-height: 1.2105263158;
        font-weight: 600;
        letter-spacing: 0.012em;
        position: relative;
        p {
          position: absolute;
        }
        .second {
          opacity: 0;
        }
      }
    }
  }
}
