#colors {
  position: relative;
  background-color: #fff;

  .colors-content {
    display: flex;
    max-width: 1124px;
    margin: 0 auto;
  }

  .left-bar {
    display: flex;
    justify-content: flex-end;
    z-index: 2;
    margin-top: 144px;
    margin-bottom: 144px;
    padding-right: 18px;
    padding-left: 12px;

    .colors-list {
      height: 312px;
      position: sticky;
      top: 82px;

      .color-btn {
        border: 2px solid transparent;
        border-radius: 50%;
        box-sizing: border-box;
        cursor: pointer;
        margin-bottom: 12px;
        padding: 3px;
        // position: relative;
        width: 42px;
        height: 42px;
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;

        &:last-of-type {
          margin-bottom: 0;
        }

        span {
          display: block;
          width: 32px;
          height: 32px;
          border-radius: 50%;
          position: relative;

          &::after {
            border-radius: inherit;
            box-shadow: inset 0 1px 1px rgb(0 0 0 / 10%);
            content: "";
            display: block;
            height: inherit;
            position: absolute;
            width: inherit;
          }
        }

        &:nth-of-type(1) {
          span {
            background-color: #394c38;
          }
        }

        &:nth-of-type(2) {
          span {
            background-color: #faddd7;
          }
        }

        &:nth-of-type(3) {
          span {
            background-color: #276787;
          }
        }

        &:nth-of-type(4) {
          span {
            background-color: #232a31;
          }
        }

        &:nth-of-type(5) {
          span {
            background-color: #faf6f2;
          }
        }

        &:nth-of-type(6) {
          span {
            background-color: #bf0013;
          }
        }

        &.active {
          border-color: #0071e3;
        }
      }
    }
  }

  .item-container {
    position: relative;
    z-index: 1;
    width: 980px;
    height: 1590px;

    .item {
      background-color: #fff;
      display: grid;
      grid-column-gap: 20px;
      grid-row-gap: 20px;
      grid-template-areas: "finish shield shield" "sizes sizes edge" "water water edge";
      grid-template-columns: 425px 1fr 341px;
      grid-template-rows: auto auto 234px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: 144px 0;

      .box {
        border-radius: 25px;
        overflow: hidden;
        position: relative;
        font-size: 36px;
        line-height: 1.1;
        font-weight: 600;
      }

      .info1 {
        grid-area: finish;

        .container {
          margin-bottom: 324px;
          margin-top: 10px;
          padding: 37px 41px;
        }

        .bg1 {
          width: 426px;
          height: 322px;
          background-size: 426px 322px;
          background-repeat: no-repeat;
          position: relative;
          left: 50%;
          margin-left: -213px;
          position: absolute;
          z-index: 0;
          bottom: 0;
        }
      }

      .info2 {
        grid-area: shield;

        .container {
          padding-top: 300px;
          padding-left: 45px;
          padding-bottom: 37px;
          padding-right: 41px;
          position: relative;
        }

        .icon {
          display: block;
          width: 40px;
          height: 45px;
          background-size: 40px 45px;
          background-repeat: no-repeat;
          background-image: url('./images/icon2.png');
          margin-bottom: 32px;
        }

        .bg2 {
          width: 431px;
          height: 355px;
          background-size: 431px 355px;
          background-repeat: no-repeat;
          position: absolute;
          z-index: 0;
          top: -50px;
          right: 0;
        }
      }

      .info3 {
        grid-area: sizes;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        font-size: 26px;

        .devices {
          display: flex;
          justify-content: center;
          align-items: flex-end;
          gap: 22px;
        }

        .bottom-text {
          margin-top: 13px;
        }

        .bg3 {
          width: 245px;
          height: 494px;
          background-size: 245px 494px;
          background-repeat: no-repeat;
          margin-top: 30px;
          margin-bottom: 28px;
        }

        .bg4 {
          width: 221px;
          height: 492px;
          background-size: 221px 492px;
          background-repeat: no-repeat;
          margin-top: -20px;
          margin-bottom: 28px;
        }
      }

      .info4 {
        grid-area: edge;

        .container {
          margin-top: 24px;
          margin-bottom: 860px;
          text-align: center;
          padding: 37px 41px;
        }

        .bg5 {
          width: 169px;
          height: 837px;
          background-size: 169px 837px;
          background-repeat: no-repeat;
          position: relative;
          left: 50%;
          margin-left: -71.5px;
          position: absolute;
          z-index: 0;
          bottom: 0;
        }
      }

      .info5 {
        grid-area: water;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        .bg6 {
          width: 516px;
          height: 91px;
          background-size: 516px 91px;
          background-repeat: no-repeat;
          margin-top: 14px;
          position: relative;
          z-index: 1;
          background-color: initial;
        }
      }

      .text-main {
        color: #fff;
      }

      &.green {
        z-index: 2;

        .box {
          background-color: #f5f5f7;
        }

        .text-primary {
          color: #326733;
        }

        .text-main {
          color: #1d1d1f;
        }

        .icon {
          background-image: url('./images/icon.png');
        }

        .bg1 {
          background-image: url('./images/green_1.jpg');
        }

        .bg2 {
          background-image: url('./images/green_2.jpg');
        }

        .bg3 {
          background-image: url('./images/green_3.jpg');
        }

        .bg4 {
          background-image: url('./images/green_4.jpg');
        }

        .bg5 {
          background-image: url('./images/green_5.jpg');
        }

        .bg6 {
          background-image: url('./images/green_6.jpg');
        }
      }

      &.pink {
        .box {
          background-color: #35283c;
        }

        .text-primary {
          color: #fec2eb;
        }

        .bg1 {
          background-image: url('./images/pink_1.jpg');
        }

        .bg2 {
          background-image: url('./images/pink_2.jpg');
        }

        .bg3 {
          background-image: url('./images/pink_3.jpg');
        }

        .bg4 {
          background-image: url('./images/pink_4.jpg');
        }

        .bg5 {
          background-image: url('./images/pink_5.jpg');
        }

        .bg6 {
          background-image: url('./images/pink_6.jpg');
        }
      }

      &.blue {
        .box {
          background-color: #0c3139;
        }

        .text-primary {
          color: #b6ff9b;
        }

        .bg1 {
          background-image: url('./images/blue_1.jpg');
        }

        .bg2 {
          background-image: url('./images/blue_2.jpg');
        }

        .bg3 {
          background-image: url('./images/blue_3.jpg');
        }

        .bg4 {
          background-image: url('./images/blue_4.jpg');
        }

        .bg5 {
          background-image: url('./images/blue_5.jpg');
        }

        .bg6 {
          background-image: url('./images/blue_6.jpg');
        }
      }

      &.black {
        .box {
          background-color: #12203b;
        }

        .text-primary {
          color: #ffa9ab;
        }

        .bg1 {
          background-image: url('./images/black_1.jpg');
        }

        .bg2 {
          background-image: url('./images/black_2.jpg');
        }

        .bg3 {
          background-image: url('./images/black_3.jpg');
        }

        .bg4 {
          background-image: url('./images/black_4.jpg');
        }

        .bg5 {
          background-image: url('./images/black_5.jpg');
        }

        .bg6 {
          background-image: url('./images/black_6.jpg');
        }
      }

      &.white {
        .box {
          background-color: #2e2e3a;
        }

        .text-primary {
          color: #72e5ce;
        }

        .bg1 {
          background-image: url('./images/white_1.jpg');
        }

        .bg2 {
          background-image: url('./images/white_2.jpg');
        }

        .bg3 {
          background-image: url('./images/white_3.jpg');
        }

        .bg4 {
          background-image: url('./images/white_4.jpg');
        }

        .bg5 {
          background-image: url('./images/white_5.jpg');
        }

        .bg6 {
          background-image: url('./images/white_6.jpg');
        }
      }

      &.red {
        .box {
          background-color: #3e1921;
        }

        .text-primary {
          color: #ffb44c;
        }

        .bg1 {
          background-image: url('./images/red_1.jpg');
        }

        .bg2 {
          background-image: url('./images/red_2.jpg');
        }

        .bg3 {
          background-image: url('./images/red_3.jpg');
        }

        .bg4 {
          background-image: url('./images/red_4.jpg');
        }

        .bg5 {
          background-image: url('./images/red_5.jpg');
        }

        .bg6 {
          background-image: url('./images/red_6.jpg');
        }
      }
    }
  }
}