@import '../node_modules/normalize.css/normalize.css';

:root {
  --nav-height: 52px;
  --wrapper-width: 1024px;
  --content-width: 980px;
}

abbr,
blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
figure,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
input,
legend,
li,
ol,
p,
pre,
ul {
  margin: 0;
  padding: 0;
}

.wrapper {
  width: var(--wrapper-width);
  margin: 0 auto;
}

.content {
  width: var(--content-width);
  margin: 0 auto;
}

#nav {
  position: sticky;
  top: 0;
  left: 0;
  height: var(--nav-height);
  min-width: 1024px;
  color: #1d1d1f;
  background-color: #fff;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);

  &.sticking {
    background-color: rgba(255, 255, 255, 0.72);
  }

  .content {
    padding: 0 22px;
    display: flex;
    justify-content: space-between;
  }

  .menu {
    display: flex;
    align-items: center;

    ul {
      display: flex;
    }
  }
}
