.hero {
  text-align: center;
  color: #fff;
  .intro {
    background-color: #f5f5f7;
    position: sticky;
    margin-bottom: var(--nav-height);
    top: 1px;
    height: 100vh;
    .video {
      object-fit: cover;
      object-position: center;
      height: 100%;
      width: 100%;
    }
    .static {
      display: none;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .group {
    position: relative;
    background-color: #12203a;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    .wrapper {
      padding-top: 202px;
      padding-bottom: 128px;
    }
    .intro-copy {
      font-size: 64px;
      line-height: 1.0625;
      font-weight: 600;
      display: flex;
      z-index: 7;
      position: relative;
      flex-direction: column;
      align-items: center;
      font-family: SF Pro SC, SF Pro Display, SF Pro Icons, PingFang SC,
        Helvetica Neue, Helvetica, Arial, sans-serif;
      margin-bottom: 16vh;
      .icon {
        width: 106px;
        aspect-ratio: 1;
      }
    }
  }
  .lower {
    margin-top: calc(-16vh - 457px);
    overflow: hidden;
    position: relative;
    background-color: #12203a;
    .media {
      width: 200%;
      position: relative;
      z-index: 6;
      left: -50%;
      aspect-ratio: 1.69;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      &.lazyloaded {
        background-image: url('./lower_xlarge_2x.jpeg');
      }
    }
    .copy {
      top: -120px;
      position: relative;
      padding-bottom: 50px;
      .content {
        position: relative;
        z-index: 7;
        margin-top: -363px;
      }
    }
    .headline {
      color: #fff;
      h1 {
        font-size: 28px;
        line-height: 1.142;
        font-weight: 600;
        letter-spacing: 0.007em;
      }
      h2 {
        margin-bottom: 64px;
        margin-top: 4px;
        font-size: 120px;
        line-height: 1;
        font-weight: 600;
      }
    }
    .pricing {
      color: rgba(255, 255, 255, 0.56);
      margin-bottom: 30px;
      font-size: 28px;
      line-height: 1.1428571429;
      font-weight: 600;
      letter-spacing: 0.007em;
    }
    .links {
      list-style: none;
      li {
        display: inline-block;
        margin-bottom: 30px;
        margin-left: 0.8em;
        margin-right: 0.8em;
        font-size: 28px;
        line-height: 1.1428571429;
        font-weight: 600;
        letter-spacing: 0.007em;
        a {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.56);
        }
        &:hover a {
          text-decoration: underline;
        }
      }
    }
  }
}
